fastapi==0.111.0
pydantic-settings==2.3.3
uvicorn
sqlalchemy
asyncpg # Adicionado para SQLAlchemy assíncrono com PostgreSQL
# psycopg2-binary # Comentado/Removido se não houver mais uso síncrono direto
python-jose[cryptography]
passlib[bcrypt]
python-multipart
alembic
PyJWT