fastapi==0.104.1
pydantic-settings==2.3.3
uvicorn
sqlalchemy
asyncpg # Adicionado para SQLAlchemy assíncrono com PostgreSQL
psycopg2-binary # Driver para SQLAlchemy síncrono com PostgreSQL
python-jose[cryptography]
passlib[bcrypt]
python-multipart
alembic
PyJWT
pandas # Para manipulação de dados nos scripts
